/* @import "hack.css"; */

:root {
  --richblack: #161925;
  --cultured: #eff1ed;
  --steelblue: #3581b8;
  --popstar: #ce4760;
  --yellowgreen: #98ce00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0%;
  font-family: "Ubuntu";
  line-height: 1.4rem;
  background-color: var(--cultured);
  color: var(--richblack);
}

.front-page section aside h2 {
  padding-left: 1.2rem;
  position: relative;
  top: 36px;
  font-size: 2rem;
}
.front-page h3 {
  font-size: 2.3rem;
  padding-left: 12rem;
}

.front-page section h4 {
  color: var(--cultured);
  text-align: center;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  padding: 1.2rem;
  font-size: 1.6rem;
  z-index: 100;
}

@media only screen and (min-width: 700px) {
  .front-page section h4 {
    font-size: 2.7rem;
  }
  .front-page section aside h2 {
    font-size: 3.5rem;
  }
}

.my-story p {
  padding: 26px 35px;
}

.my-story {
  background: url("../public/img/endless.svg");
  font-size: 1.2rem;
  
}

.my-story h4 {
  padding: 12px 26px;
  margin-left: 26px;
  background: var(--steelblue);
  color: var(--cultured);
  clip-path: polygon(97% 43%, 0% 88%, 0% 0%, 90% 0%);
}

h3 {
  padding-left: 26px;
  padding-bottom: 48px;
  color: var(--popstar);
  font-size: 1.4rem;
}

.hero {
  background: var(--yellowgreen);
  height: 50vh;
  padding: 4rem 2rem;
  color: #ffffff;
  clip-path: polygon(97% 43%, 0% 88%, 0% 0%, 90% 0%);
  
}


.front-page section img {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  padding: 26px 14px;
  background: var(--popstar);
  color: var(--cultured)
}

.contact section {
  display: flex; 
  justify-content: space-around;
  font-size: 1.3rem;
  
}
.contact h3 {
  color: var(--cultured)
}

.contact div  {
  display: inline-block;
  padding-bottom: 14px;
}

.contact a {
  font-size: 1.3rem;
  color: var(--cultured);
  text-decoration: none;
}