/* @import "hack.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, ::after {
  box-sizing: border-box;
}

:root {
  font-size: 0.85em;
}

@media(min-width: 800px) {
  :root {
    font-size: 1em;
  }
}

@media(min-width: 1200px) {
  :root {
    font-size: 1.15em;
  }
  
}