.hero {
  /* Photo by mnm.all on Unsplash */
  
  background: #4be3ac;
  height: 50vh;
  padding: 4rem 2rem;
  color: #032d3c;
  text-align: center;
  border: 1px solid black;

}







